.desk {
  text-align: center;
  padding: 2rem;
  margin: 1rem 0;
  background-color: #4b4b4b;
}

.desk-booked {
  text-align: center;
  padding: 2rem;
  margin: 1rem 0;
  background-color: #b10000;
}

.selected {
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #00a116;
}
